{# empty Twig template #}


{% set token_groups = callFunction( "Tokens.Tokens.Code.Models.TokensModel", 'getUniqueTokenGroups') %}

<h4> Generated Token List</h4>

<table class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Unused Token</td>
            <td>&nbsp;</td>
        </tr>
    </thead>

    <tbody>
        {% if token_groups|length > 0 %}
            {% for token_group in token_groups %}
                <tr>
                    <td>
                        {{ token_group.unique_name|default('-- Not Set --') }}
                    </td>
                    <td>
                        {{ token_group.total }}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{{ generate_url('admin.tokens.tokens.tokengroup',{'unique_name' : token_group.unique_name}) }}">View Token</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    No Records Found.
                <td>
            </tr>
        {% endif %}
    </tbody>
</table>