
{# empty Twig template #}
{% import "form.macro.twig" as forms %}

<div>
    <div class="col-sm-9">
        {{ forms.input(' token', 'text', item.token, 'Token') }}
    </div>
</div>
<div class="clearfix"></div>

<input type="hidden" name="payment_id" value="{{ payment.id }}" />
<input type="hidden" name="user_id" value="{{ user.id }}" />

<center>
    <a class="process-payment"  href="#" title="Pay with Token">
        <button class="btn btn-success btn-flat btn-sm" type="submit">
            <i class="fa fa-arrow-right"></i>
            Pay with Token
        </button>
    </a>
</center>

